#mes1 {
  color: #E7831E;

}
#mes2 {
  color: #1EE74C;

}
#mes3 {
  color: #E71E25;

}
#mes4 {
  color: #E71E9D;

}
#mes5 {
  color: #D71EE7;

}
#mes6 {
  color: #851EE7;

}
#mes7 {
  color: #3E1EE7;

}
#mes8 {
  color: #1EE7A6;

}
#mes9 {
  color: #1EE748;

}
#mes10 {
  color: #C9E71E;

}
#mes11 {
  color: #E71E1E;

}
#mes12 {
  color: #EBF909;

}